.PlayPage {
    width: 100vw;
    height: 90vh;

}

.ChessboardContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;

}
.PlayerContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 10vw;
}