.PlayPage {
    width: 100vw;
    height: 80vh;

}

.ChessboardContainer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;

}
.PlayerContainer {
    display: flex;
    flex-direction: column-reverse;
    width: 10vw;
}
.EnemyContainer {
    display: flex;
    flex-direction: column;
    width: 10vw;
}

.image {
    height: 20vh;
    width: 20vw;
}